body {
    font-family: sans-serif;
    height: 100vh;
    width: 100vw;
  }
#app {
  height: 100%;
  width: 100%;
}
#barContainer {
  display: flex;
  width: 50vw;
  height: 90%;
}
#scoreContainer{
  height: 10%;
  display: flex;
}
#score{
  margin: auto;
}
.beatBar {
  width: 5vmin;
  border: 1px solid black;
  position: relative;
}

.beatLine {
  position: absolute;
  left: 50%;
  width: 1px;
  height: 100%;
  border-left: 1px solid red;
}
.triggerPoint {
  box-sizing: border-box;
  border: 1px solid grey;
  border-radius: 50%;
  position: absolute;
  bottom: 10%;
  width: 100%;
  height: 8%;
  display: flex;
  transition-duration: .33s;
}
.triggerPoint.active{
  background-color: red;
  color: white;
  transition-duration: .1s;
}
.triggerPoint > section{
  margin: auto;
}
.beatContainer{
  width: 5vmin;
  height: 5vmin;
  background-color: lightgrey;
  border-radius: 50%;
  transform: translateX(-50%);
  position: absolute;
}
.beatContainer.hit{
  background-color: greenyellow
}